# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_openmp_mutex=4.5=1_gnu
argcomplete=1.12.3=pypi_0
astroid=2.7.3=pypi_0
astunparse=1.6.3=pypi_0
ca-certificates=2021.7.5=h06a4308_1
certifi=2021.5.30=py37h06a4308_0
charset-normalizer=2.0.6=pypi_0
click=8.0.1=pyhd3eb1b0_0
colorama=0.4.4=pypi_0
commitizen=2.18.0=pypi_0
dataclasses=0.8=pyh6d0b6a4_7
decli=0.5.2=pypi_0
docopt=0.6.2=pypi_0
flask=1.1.2=pyhd3eb1b0_0
flask_cors=3.0.10=pyhd3eb1b0_0
idna=3.2=pypi_0
importlib-metadata=4.6.4=pypi_0
isort=5.9.3=pypi_0
itsdangerous=2.0.1=pyhd3eb1b0_0
jinja2=3.0.1=pyhd3eb1b0_0
jittor=1.2.3.92=pypi_0
jittorvis=1.1.2=dev_0
lazy-object-proxy=1.6.0=pypi_0
ld_impl_linux-64=2.35.1=h7274673_9
libffi=3.3=he6710b0_2
libgcc-ng=9.3.0=h5101ec6_17
libgomp=9.3.0=h5101ec6_17
libstdcxx-ng=9.3.0=hd4cf53a_17
mako=1.1.5=pypi_0
markdown=3.3.4=pypi_0
markupsafe=2.0.1=py37h27cfd23_0
mccabe=0.6.1=pypi_0
ncurses=6.2=he6710b0_1
numpy=1.19.4=pypi_0
openssl=1.1.1l=h7f8727e_0
packaging=20.9=pypi_0
pdoc3=0.10.0=pypi_0
pillow=8.3.1=pypi_0
pip=21.0.1=py37h06a4308_0
pipreqs=0.4.10=pypi_0
platformdirs=2.3.0=pypi_0
prompt-toolkit=3.0.20=pypi_0
pylint=2.10.2=pypi_0
pyparsing=2.4.7=pypi_0
python=3.7.11=h12debd9_0
pyyaml=5.4.1=pypi_0
questionary=1.10.0=pypi_0
readline=8.1=h27cfd23_0
requests=2.26.0=pypi_0
scipy=1.7.1=pypi_0
setuptools=52.0.0=py37h06a4308_0
six=1.16.0=pyhd3eb1b0_0
sqlite=3.36.0=hc218d9a_0
termcolor=1.1.0=pypi_0
tk=8.6.10=hbc83047_0
toml=0.10.2=pypi_0
tomlkit=0.7.2=pypi_0
torch=1.9.0=pypi_0
torchvision=0.10.0=pypi_0
tqdm=4.62.1=pypi_0
typed-ast=1.4.3=pypi_0
typing-extensions=3.10.0.0=pypi_0
typing_extensions=3.10.0.2=pyh06a4308_0
urllib3=1.26.7=pypi_0
wcwidth=0.2.5=pypi_0
werkzeug=2.0.1=pyhd3eb1b0_0
wheel=0.37.0=pyhd3eb1b0_0
wrapt=1.12.1=pypi_0
xz=5.2.5=h7b6447c_0
yarg=0.1.9=pypi_0
zipp=3.5.0=pyhd3eb1b0_0
zlib=1.2.11=h7b6447c_3
